@import './styles/route.css';
@import './styles/header.css';
@import './styles/main.css';

:root {
  --base_font_size: 14px;
  --back_ground_form: rgb(255, 255, 255);
  --button_main: rgb(122, 197, 247);
  --button_main-hover: rgba(144, 208, 250, 0.952);
  --button_remove: rgb(228, 58, 58);
  --button_remove-hover: rgba(207, 60, 60, 0.952);
}

html {
  height: 100%;
  font-size: var(--base_font_size);
}

.loader {
  height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}
body, 
.route {
  min-height: 100vh;
}
.hidden_on {
  overflow: hidden;
}
.title {
  padding: 0.25em 0.25em;
}
.title_1 {
  font-size: 3em;
}
.title_2 {
  font-size: 1.5em;
}

.title_3  {
  display: flex;
}
.title_3 > span:nth-child(1) {
  font-size: 1.3em;
}
.title_3 > span:last-child {
  font-size: 1.1em;
  margin: 0 auto;
}
